{% extends 'base.html' %}
{% block content %} 
<div id="price">
    <div id="content">
        <div>
            <h2>
                Bảng giá đặt xe 
            </h2>
        </div>
        <table>
            <tr>
                <th>Tuyến đường</th>
                <th>Xe 4 chỗ</th>
                <th>Xe 16 chỗ</th>
                <th>Xe 30 chỗ</th>
                <th>Xe 35 chỗ</th>
            </tr>
            <tr>
                <td>Nội thành Hà Nội 1 ngày</td>
                <td>1,200,000đ</td>
                <td>1,800,000đ</td>
                <td>2,500,000đ</td>
                <td>2,800,000đ</td>
            </tr>
            <tr>
                <td>Ngoại thành Hà Nội 1 ngày</td>
                <td>1,400,000đ</td>
                <td>2,000,000đ</td>
                <td>2,800,000đ</td>
                <td>3,200,000đ</td>
            </tr>
            <tr>
                <td>Hà Nội – Ninh Bình 1 ngày</td>
                <td>1,600,000đ</td>
                <td>2,500,000đ</td>
                <td>3,200,000đ</td>
                <td>3,500,000đ</td>
            </tr>
            <tr>
                <td>Hà Nội – Hải Phòng 1 ngày</td>
                <td>2,000,000đ</td>
                <td>3,000,000đ</td>
                <td>3,900,000đ</td>
                <td>4,500,000đ</td>
            </tr>
            <tr>
                <td>Hà Nội – Hạ Long 1 ngày</td>
                <td>2,200,000đ</td>
                <td>3,400,000đ</td>
                <td>4,400,000đ</td>
                <td>5,000,000đ</td>
            </tr>
            <tr>
                <td>Hà Nội – Cúc Phương 1 ngày</td>
                <td>1,800,000đ</td>
                <td>2,500,000đ</td>
                <td>3,800,000đ</td>
                <td>4,300,000đ</td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}

