{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Ngọc Hữu Tourist</title>
    <link rel="icon" href="https://raw.githubusercontent.com/chuvietanh392003/DuLichNgocHuu.githud.io/main/static/img/1.png">
    <link rel="stylesheet" href='{% static 'css/style.css' %}'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href='{% static 'themify-icons/themify-icons.css' %}'> 
    <script src='{% static 'js/main.js' %}'></script>
</head>
<body>
    <div id="main">
        {% include 'components/header.html' %}

        {% block content %}

        {% endblock %}

        {% include 'components/footer.html' %}
    </div>
</body>
</html>