<!DOCTYPE html>
<html>
<head>
    <title>Ngọc Hữu Tourist</title>
    <link rel="icon" href="https://raw.githubusercontent.com/chuvietanh392003/slideknm.githud.io/main/static/img/1.png">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="./icon/themify-icons/themify-icons.css"> 
    <script src="main.js"></script>
</head>
<body>
    <div id="main">
        <div id="header">
        <!-- begin nav -->
            <ul id="nav">
                <li><a href="">Trang chủ</a></li>
                <li><a href="">Tour thịnh hành</a></li>
                <img src="https://qldt.hust.edu.vn/images/Background.gif" alt="header-img">
                <li><a href="">Liên hệ</a></li>
                <li><a href="">Đặt vé</a></li>
                <li><a href="#"><div id="theClock"></div></a></li>  
            </ul>
        <!-- end nav -->
        <!-- begin search -->
        <i class="search-icon ti-search"></i>
        <!-- end search -->
        

        </div>
        <div id="slider"> 

        </div>
        <div id="content">

        </div>
        <div id="footer">
            <h3>Thông tin chi tiết liên hệ</h3><br>
            <p><i class="fas fa-star"></i> NGOC HUU TOURIST TRADING AND SERVICE COMPANY LIMITED</p>
            <p><i class="fa-solid fa-house"></i> Số nhà 5B, ngõ 76, đường Hùng Vương, tổ 8, Phường Phú Khánh, Thành phố Thái Bình, Tỉnh Thái Bình, Việt Nam</p>
            <p><i class="fas fa-phone"></i> SĐT: 0362497123-091209</p>
            <p><i class="fab fa-facebook"></i> <a href="https://www.facebook.com/huu.phamngoc.5621">Facebook: Phạm Ngọc Hữu</a></p>
            <p><i class="fas fa-envelope"></i> Gmail: DuLichNgocHuuTB@gmail.com</p>
            <p>&copy; 2023 Xe Du Lịch. All rights reserved.</p>
        </div>
    </div>
</body>
</html>
