<div id="header">
  <!-- begin nav -->
  <ul id="nav">
    <li><a href="">Trang chủ</a></li>
    <li>
      <a href="/home/trend">Tour thịnh hành</a>
      <img
        src="https://qldt.hust.edu.vn/images/Background.gif"
        alt="header-img"
      />
    </li>
    <img
      src="https://qldt.hust.edu.vn/images/Background.gif"
      alt="header-img"
    />
    <li><a href="">Liên hệ</a></li>
    <li><a href="">Đặt vé</a></li>
    <li>
      <a href="#"><div id="theClock"></div></a>
    </li>
  </ul>
  <!-- end nav -->
  <!-- begin search -->
  <i class="search-icon ti-search"></i>
  <!-- end search -->
</div>
