<div id="header">
  <!-- begin nav -->
  <ul id="nav">
    <li><a href="/home">Trang chủ</a></li>
    <li>
      <a href="/home/trend">Thịnh hành</a>
      <img
        src="https://qldt.hust.edu.vn/images/Background.gif"
        alt="header-img"
      />
    </li>
    <li><a href="/home/book_ticket">Đặt xe</a></li>
    <li><a href="/home/inbox">Liên hệ</a></li>
    <li>
      <a href="#"><div id="theClock"></div></a>
    </li>
  </ul>
  <!-- end nav -->
  <!-- begin search -->
  <i class="search-icon ti-search"></i>
  <!-- end search -->
</div>
